// Add any variables, libraries, mixins needed before bootstrap or bootstrap typography overrides import here:

// colors
$tangerine: #f7d100;
$ce-soir-purple: #90759e;
$ce-soir: #90759e;
$light-blue: #5DC8CD;
$bright-orange: #FFAA40;
$flush-orange: #fd8505;
$mantis: #7bc84b;
$viking: #57c8d4;
$mandy: #d64e66;
$antique-fuchsia: #94607e;
$carolina-blue: #90bbda;
$monte-carlo: #78bfb6;
$saphire: #234ba5;
$dark-byzantium: #594157;
$eggplant: #6d516b;
$pacific-blue: #15b7c9;
$eastern-blue: #1199a9;
$iris-blue: #00b0c4;
$white-smoke: #f3f7f8;
$porcelain: #eff3f4;

$bottom-skills-fill: $iris-blue;

$top-skills-fill: $tangerine;
$timeline-color: $iris-blue;

@import "variables";
@import "../../bower_components/compass-breakpoint/stylesheets/_breakpoint.scss";
@import "partials/mixins";

/*
*  Responsive typography
*/

$xxs: min-width 320px;
$xs: min-width 480px;
$smx: min-width 618px;
$sm: min-width 768px;
$md: min-width 992px;
$lg: min-width 1200px;

$mobile-landscape: (max-width 768px) (orientation landscape);
$mobile-portrait: (max-width: 768px) (orientation portrait);
$timeline: max-width 768px;

/*
*  library imports here
*/

@import "partials/type";

@import "../../bower_components/bourbon/app/assets/stylesheets/_bourbon";
@import "../../bower_components/neat/app/assets/stylesheets/_neat";

//override neat's breakpoint mixin, have to import again TODO: fix this. find out: does neat's breakpoint mixin replace the need for this?
@import "../../bower_components/compass-breakpoint/stylesheets/_breakpoint";
@import "partials/fonts";
@import "partials/social-icons";
@import "partials/reset-extended";

/*
*  custom variables
*/

$font-family-intro: "CutiveMonoRegular", "Source Code Pro", monospace;
$panel-default-heading-size: $font-size-h2;
$padding-larger-vertical: 20px;
$body-font-weight: 200;
$border-bottom-light: 1px solid rgba(0, 0, 0, 0.05);

// $institution-location:

/*
* custom component imports
*/
@import "partials/components";

//
// Extended Reset
// --------------------------------------------------

// Reset the box-sizing
//

// Box sizing
@mixin box-sizing($boxmodel) {
  -webkit-box-sizing: $boxmodel;
  -moz-box-sizing: $boxmodel;
  box-sizing: $boxmodel;
}

* {
  @include box-sizing(border-box);
}

*:before,
*:after {
  @include box-sizing(border-box);
}

// Body reset

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
}

h3 {
  font-family: $font-avenir-next-light-sc;
}

p b, div b {
  font-family: $font-avenir-next-demi;
}

p em, div em {
  font-family: $font-avenir-next-medium-italic;
  font-style: normal;
}

ul {
  padding-left: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: $line-height-computed / 2;
  ul,
  ol {
    margin-bottom: 0;
  }
}

img {
  vertical-align: middle;
}

/*
*  global styles
*/

hr {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed;
  border: 0;
  border-top: 1px solid $hr-border;
}

.text-muted {
  color: $text-muted;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
  &:focus {
    @include tab-focus;
  }
}

[class^="icon-"], [class*=" icon-"] {
  height: 32px;
  width: 32px;
  display: inline-block;
  fill: currentColor;
}

.text-large {
  font-size: $font-size-large;
}

.text-small {
  font-size: $font-size-small;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 60px;
  font-weight: $body-font-weight;
  overflow-x: hidden !important;
  > .content {
    margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  }
}

.content {
  @include row;
}

/* Custom page footer */
footer {
  clear: both;
  margin-top: 70px;
  @include outer-container;
  .copy, .contact {
    @include span-columns(6);
  }
  .copy {
    font-size: .9em;
  }
  ul {
    list-style: none;
    float: right;
    li {
      display: inline;
    }
  }
}

/* Responsive: Portrait tablets and up */
@include breakpoint($sm) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}


.icon-amp1, .icon-amp2 {
  vertical-align: text-top;
  position: relative;
  bottom: 4px;
}

