// Add any variables, libraries, mixins needed before bootstrap or bootstrap typography overrides import here:


@import "partials/fonts";
@import "variables";
@import "partials/mixins";
@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../bower_components/neat/app/assets/stylesheets/neat";


//override neat's breakpoint mixin, have to import again TODO: fix this. find out: does neat's breakpoint mixin replace the need for this?
@import "../../bower_components/compass-breakpoint/stylesheets/breakpoint";
@import "partials/type";
@import "partials/social-icons";
@import "partials/components";
/*
*  custom variables
*/

$font-family-intro: "CutiveMonoRegular", "Source Code Pro", monospace;
$panel-default-heading-size: $font-size-h2;
$padding-larger-vertical: 20px;
$body-font-weight: 200;
$border-bottom-light: 1px solid rgba(0, 0, 0, 0.05);

//
// Extended Reset
// --------------------------------------------------

// Reset the box-sizing
//
* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

// Body reset

html {
  // font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
}

h3 {
  font-family: $font-avenir-next-light-sc;
}

p b, div b {
  font-family: $font-avenir-next-demi;
}

p em, div em {
  font-family: $font-avenir-next-medium-italic;
  font-style: normal;
}

i {
  font-style: normal !important;
}

ul {
  padding-left: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: $line-height-computed / 2;
  ul,
  ol {
    margin-bottom: 0;
  }
}

img {
  vertical-align: middle;
}

.content > a {
  @include underline($white, $iris-blue, $iris-blue);
}

/*
*  global styles
*/

hr {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed;
  border: 0;
  border-top: 1px solid $hr-border;
}

.text-muted {
  color: $text-muted;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
  &:focus {
    @include tab-focus;
  }
}

[class^="icon-"], [class*=" icon-"] {
  height: 32px;
  width: 32px;
  display: inline-block;
  fill: currentColor;
}

.text-large {
  font-size: $font-size-large;
}

.text-small {
  font-size: $font-size-small;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 60px;
  font-weight: $body-font-weight;
  overflow-x: hidden !important;
  > .content {
    margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  }
}

.content {
  @include row;
}

/* Custom page footer */
footer {
  clear: both;
  margin: 70px 15px 0;
  .copy, .contact {
    @include span-columns(6);
  }
  .copy {
    font-size: .9em;
  }
  ul {
    list-style: none;
    float: right;
    li {
      display: inline;
    }
  }
  [class^="icon-"], [class*=" icon-"] {
    width: 25px;
  }
  @include breakpoint($xs) {
    [class^="icon-"], [class*=" icon-"] {
      width: 32px;
    }
  }
}

/* Responsive: Portrait tablets and up */
@include breakpoint($sm) {
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}


.icon-amp1, .icon-amp2 {
  vertical-align: text-top;
  position: relative;
  bottom: 4px;
}


.more {
    position: relative;
    height: 40%
}

.icon-arrow-dot-round {
    color: #697d8d;
    font-size: 2em;
    position: relative
}

.scroll-more {
    text-decoration: none;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%)translateY(-50%);
    width: 70px;
    height: 70px;
    line-height: 70px
}

::selection {
  background: $iris-blue;
  color: white;
}
