// Add any variables, libraries, mixins needed before bootstrap or bootstrap typography overrides import here:

// colors
$tangerine: #f7d100;
$ce-soir-purple: #90759e;
$ce-soir: #90759e;
$light-blue: #5DC8CD;
$bright-orange: #FFAA40;
$flush-orange: #fd8505;
$mantis: #7bc84b;
$viking: #57c8d4;
$mandy: #d64e66;
$antique-fuchsia: #94607e;
$carolina-blue: #90bbda;
$monte-carlo: #78bfb6;
$saphire: #234ba5;
$dark-byzantium: #594157;
$eggplant: #6d516b;
$pacific-blue: #15b7c9;
$eastern-blue: #1199a9;
$iris-blue: #00b0c4;
$white-smoke: #f3f7f8;
$porcelain: #eff3f4;

$bottom-skills-fill: $iris-blue;

$top-skills-fill: $tangerine;
$timeline-color: $iris-blue;

@import "../../bower_components/compass-breakpoint/stylesheets/_breakpoint.scss";
@import "partials/mixins";

/*
*  Responsive typography
*/

$xxs: min-width 320px;
$xs: min-width 480px;
$smx: min-width 618px;
$sm: min-width 768px;
$md: min-width 992px;
$lg: min-width 1200px;

$mobile-landscape: (max-width 768px) (orientation landscape);
$mobile-portrait: (max-width: 768px) (orientation portrait);
$timeline: max-width 768px;

@include breakpoint($xxs) {
  $font-size-base: 17px;
  @include resize-headings(32px, 28px, 25px, 22px, 20px, 18px);
}


@include breakpoint($xs) {
  $font-size-base: 17px;
  @include resize-headings(40px, 37px, 30px, 25px, 20px, 18px);
  .panel-heading [data-toggle="collapse"] {}
}


@include breakpoint($sm) {
  $font-size-base: 18px;
  @include resize-headings(42px, 39px, 33px, 29px, 23px, 20px);
  .panel-heading [data-toggle="collapse"] {}
}


@include breakpoint($md) {
  @include resize-headings(45px, 40px, 36px, 32px, 28px, 25px);
  .panel-heading [data-toggle="collapse"] {}
}


@include breakpoint($lg) {
  @include resize-headings(48px, 43px, 40px, 37px, 32px, 28px);
  $font-size-base: 32px;
  .panel-heading [data-toggle="collapse"] {}
}


/*
*  bootstrap & other library imports here
*/

@import "bootstrap_custom";

$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import "../../bower_components/bourbon/app/assets/stylesheets/_bourbon";
@import "../../bower_components/neat/app/assets/stylesheets/_neat";

//override neat's breakpoint mixin, have to import again TODO: fix this. find out: does neat's breakpoint mixin replace the need for this?
@import "../../bower_components/compass-breakpoint/stylesheets/_breakpoint";
@import "partials/fonts";
@import "partials/social-icons";
@import "partials/hover";

/*
*  custom variables
*/

$font-family-intro: "CutiveMonoRegular", "Source Code Pro", monospace;
$panel-default-heading-size: $font-size-h2;
$padding-larger-vertical: $padding-large-vertical * 2;
$body-font-weight: 200;
$border-bottom-light: 1px solid rgba(0, 0, 0, 0.05);

// $institution-location:

/*
* custom component imports
*/
@import "partials/components";

/*
*  Bootstrap Style Overrides:
*/

h3 {
  font-family: $font-avenir-next-light-sc;
}

code,
pre code {
  font-size: 85%;
}

p b, div b {
  font-family: $font-avenir-next-demi;
}

p em, div em {
  font-family: $font-avenir-next-medium-italic;
  font-style: normal;
}

ul {
  padding-left: 0;
}

/* Panels */
.panel {
  background: none;
}

.panel-body {
  border: none !important;
}

.panel-heading {
  padding: 10px 0;
}

.panel-group .panel-heading {
  border-bottom: $border-bottom-light;
}

.panel-title a {
  border-bottom: none;
  font-style: normal;
}

/* Navbar */
.navbar-default {
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: none;
  margin-bottom: 5px;
  .navbar-nav li a {
    @include transition(0.2s ease);
    color: $gray-light;
    font-style: normal;
    border-bottom: none;
  }
  .navbar-nav li.active a {
    background: none;
    color: $gray;
    &:hover {
      background: none;
    }
  }
}

/*
*  global styles
*/

[class^="icon-"], [class*=" icon-"] {
  height: 32px;
  width: 32px;
  display: inline-block;
  fill: currentColor;
}

.text-large {
  font-size: $font-size-large;
}

.text-small {
  font-size: $font-size-small;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 60px;
  font-weight: $body-font-weight;
  overflow-x: hidden;
}

.cont {
  @include outer-container;
}

/* Style links */
div > a {
  // @include reveal-underline;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
footer {
  @include outer-container;
  .copy, .contact {
    @include span-columns(6);
  }
  .copy {
    font-size: .9em;
  }
  ul {
    list-style: none;
    float: right;
    li {
      display: inline;
    }
  }
}

/* Responsive: Portrait tablets and up */
@include breakpoint($sm) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}


.icon-amp1, .icon-amp2 {
  vertical-align: text-top;
  position: relative;
  bottom: 4px;
}
