//colors
$color_charade_approx: #252e35;
$color_black_haze_approx: #f6f6f6;
$color_blue_bayoux_approx: #465c7a;
$white: #fff;
$color_atlantis_approx: #7bd541;

//fonts
$font_0: Open Sans;
$font_1: Helvetica;
$font_2: Arial;
$font_3: sans-serif;
$font_4: Satisfy;
$font_5: Vast Shadow;
$font_6: Oswald;
$font_7: Lato;

//urls
$url_0: url("http://tympanus.net/Tutorials/TexturedText/img/watercolor_1.jpg");

//@extend-elements
//original selectors
//.no_move, .move_right, .move_left
%extend_1 {
  font-size: 3em;
  line-height: 1;
  //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: left .25s ease;
}

//original selectors
//#character_block, #oscilating_block
%extend_2 {
  display: none;
  line-height: 2em;
  font-size: 2em;
}

body {
  font-size: 87.5%;
  color: $color_charade_approx;
  font-family: $font_0, $font_1, $font_2, $font_3;
  line-height: 1.5em;
  background: $color_black_haze_approx;
}

.divider {
  background: #262F37;
  height: 2em;
}

.time {
  text-align: center;
  font-size: 3em;
  font-family: $font_4, $font_0, $font_3;
  margin-top: .25em;
  color: $color_blue_bayoux_approx;
}

.clipped {
  background: $url_0 no-repeat center center;
  background-size: cover;
  color: $white;
  text-fill-color: transparent;
  //Instead of the line below you could use @includebackground-clip($clip)
  background-clip: text !important;
  text-align: center;
  #clock {
    font-family: $font_5;
    text-align: center;
    font-size: 8em;
    line-height: 1em;
  }
}

#clock {
  > span {
    white-space: nowrap;
  }
  span span {
    font-family: $font_6;
    font-size: 25px;
    //Instead of the line below you could use @includebackground-clip($clip)
    background-clip: border-box;
    color: #465C7A;
    font-weight: 400;
  }
}

ul {
  list-style-type: none;
  margin-before: 0;
}

.button {
  background: #262F37;
  color: #465C7A;
  height: 2.5em;
  width: 100%;
  line-height: 1;
  font-size: 140%;
  overflow: hidden;
  //Instead of the line below you could use @includebackface-visibility($visibility)
  backface-visibility: hidden;
  &:first-child {
    margin-top: 1em;
  }
  &:active {
    background: #262F37;
    top: 2px;
  }
  span {
    display: inline-block;
    width: 100%;
    //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all 0.3s;
    //Instead of the line below you could use @includebackface-visibility($visibility)
    backface-visibility: hidden;
    //Instead of the line below you could use @includebox-sizing($bs)
    box-sizing: border-box;
  }
  &:before {
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 170%;
    //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all 0.3s;
  }
  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all 0.3s;
  }
}

.button-horizontal {
  &:before {
    left: -100%;
    top: 0;
    content: '✬';
    //Instead of the line below you could use @includebox-sizing($bs)
    box-sizing: border-box;
  }
  &:hover span {
    //Instead of the line below you could use @includetransform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateX(200%);
  }
}

#oscilating_block {
  position: relative;
  margin: 0 auto;
  text-align: center;
  zoom: 2;
  font-family: $font_7;
  @extend %extend_2;
}

.no_move {
  @extend %extend_1;
  position: absolute;
  top: 0;
  width: 100%;
  font-weight: 700;
}

.move_right {
  @extend %extend_1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  font-weight: 400;
}

.move_left {
  @extend %extend_1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  font-weight: 300;
}

#colorful_heading {
  font-size: 5em;
  text-align: center;
  font-family: $font_7;
}

#character_block {
  @extend %extend_2;
}

#moving_dot {
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 50px;
  width: 50px;
  height: 50px;
  background: $color_atlantis_approx;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all 1s;
}

header h1 {
  text-align: center;
  margin: 7px 0 0;
  color: #465C7A;
  font-weight: 300;
}

.button:active:before {
  color: #465C7A;
}

.button-horizontal:hover:before {
  left: 0;
  top: .2em;
}