#section-about {
  background-color: #242930;
  margin: 0 -15px;
}

.about-content {
  position: relative;
  transform-style: preserve-3d;
  @include row($direction: LTR);
  .about-me {
    @include span-columns(12);
    @include shift(0);
    line-height: 1.5;
    .about-text {
      img {
        float: none;
        width: 210px;
        padding: 30px 0;
        display: block;
        margin: 0 auto;
      }
      font-size: 120%;
      line-height: 1.5;
      @include pad(0 5%);
    }
  }
  .contact-me {
    position: absolute;
    top: 0;
    right: 10px;
    .about-icons {
      margin-bottom: 25px;
    }
  }
  @include breakpoint($sm) {
    .about-me {
      @include span-columns(11);
      .about-text {
        line-height: 1.5;
        display: table-cell;
        text-align: justify;
        font-size: 130%;
        .me-pic {
          shape-outside: circle(50%);
          shape-image-threshold: 0.5;
          float: left;
          width: 240px;
          padding: 30px 15px 15px;
          // width: 240px;

        }
      }
    }
    .contact-me {
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

// ***************************************************

$caroline-social: "caroline-social";

#about .icons,
#about .icons i {
  font-family: "caroline-social" !important;
  position: relative;
  pointer-events: all;
  bottom: -13px;
}

#about .icons i::before {
  // this is the one for font
  font-family: "caroline-social" !important;
}

[class*="-inverse"]:before {
  left: 55px;
  pointer-events: none;
}

.social-icons {
  text-align: center;
  background: transparent;
  bottom: 60px;
  position: relative;
  ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    li {
      font-family: $caroline-social;
      line-height: 1;
      text-decoration: inherit;
      margin-bottom: -5px;
      font-size: 220%;
      width: 55px;
      pointer-events: none;
      @include transition(all 0.3s ease);
      i {
        width: 55px;
        height: 55px;
      }
      a {
        text-decoration: none;
        display: block;
        height: 55px;
        width: 55px;
        color: $gray-dark;
        outline: none;
        @include transition(all 0.3s ease);
        &:hover {
          color: transparent;
        }
      }
      .network {
        opacity: 0;
        font-family: $font-avenir-next-regular-sc !important;
        font-size: 15px !important;
        position: absolute;
        bottom: -27px;
        text-align: center;
        width: 55px;
        @include transition(all 0.4s ease 0.2s);
      }
      &:hover {
        .network {
          opacity: 1;
        }
      }
    }
  }
}

.icon-twitter,
.icon-facebook,
.icon-linkedin,
.icon-github,
.icon-email {
  position: relative;
  top: 68px;
}
