.accordion-header {
  min-height: 100px;
  width: 100%;
  cursor: pointer;
  display: inline-block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  .accordion-heading {
    display: inline-block;
    font-size: 30px;
    @include breakpoint($xxs) {
      padding: 13px 0;
      font-size: 40px;
    }

    @include breakpoint($sm) {
      font-size: 45px;
    }

    @include breakpoint($md) {
      padding: 15px 0;
      font-size: 50px;
    }

    @include breakpoint($lg) {
      padding: 20px 0;
      font-size: 60px !important;
    }

    color: $text-muted;
  }
  svg {
    @include transition(0.3s ease);
    path {
      stroke-width: 15;
      fill: $text-muted;
      stroke: white;
    }
  }
  &:not(.is-active) {
    + .accordion-content {
     display: none;
   }
    svg {
      @include transform(rotate(0deg));
    }
  }
  &.is-active {
    border-bottom: none;
    svg {
      @include transform(rotate(45deg));
    }
  }
}

.accordion-content {
  display: block;
  line-height: $line-height-base;
}
