@charset "UTF-8";

@font-face {
  font-family: 'LagunaW26';
  src: url("../fonts/LagunaW26.eot");
  src: url("../fonts/LagunaW26.eot") format("embedded-opentype"), url("../fonts/LagunaW26.woff2") format("woff2"), url("../fonts/LagunaW26.woff") format("woff"), url("../fonts/LagunaW26.ttf") format("truetype"), url("../fonts/LagunaW26.svg#LagunaW26") format("svg");
}


@font-face {
  font-family: 'CutiveMonoRegular';
  src: url("../fonts/CutiveMonoRegular.eot");
  src: url("../fonts/CutiveMonoRegular.eot") format("embedded-opentype"), url("../fonts/CutiveMonoRegular.woff2") format("woff2"), url("../fonts/CutiveMonoRegular.woff") format("woff"), url("../fonts/CutiveMonoRegular.ttf") format("truetype"), url("../fonts/CutiveMonoRegular.svg#CutiveMonoRegular") format("svg");
}


[data-icon]:before {
  font-family: "caroline-social" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "caroline-social" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Avenir Next W01 Light";
  src: url("../fonts/0ecef829-586e-426d-a633-4c8a8c926769.eot?#iefix");
  src: url("../fonts/0ecef829-586e-426d-a633-4c8a8c926769.eot?#iefix") format("eot"), url("../fonts/f401df6f-54eb-406c-b46a-90b9451c598d.woff") format("woff"), url("../fonts/276fe25e-e430-4376-b33c-705dd77b3dba.ttf") format("truetype"), url("../fonts/869dc33b-3685-4d74-a51c-82b435579093.svg#869dc33b-3685-4d74-a51c-82b435579093") format("svg");
}


@font-face {
  font-family: "AvenirNextW01SC-Light";
  src: url("../fonts/3de3cce7-674d-4144-9da5-fd8cafd41dc2.eot?#iefix");
  src: url("../fonts/3de3cce7-674d-4144-9da5-fd8cafd41dc2.eot?#iefix") format("eot"), url("../fonts/3a4f8130-9168-4faa-86d3-3ee22a93100e.woff") format("woff"), url("../fonts/c694e270-cb1c-48d1-a9bf-b58f4a250ed6.ttf") format("truetype"), url("../fonts/ae7283df-e203-4c09-b7cc-85e55c612ebf.svg#ae7283df-e203-4c09-b7cc-85e55c612ebf") format("svg");
}


@font-face {
  font-family: "AvenirNextW01-LightItal";
  src: url("../fonts/440b64c9-a97b-4a0c-a6af-a6bb6d49c252.eot?#iefix");
  src: url("../fonts/440b64c9-a97b-4a0c-a6af-a6bb6d49c252.eot?#iefix") format("eot"), url("../fonts/5b8c6fdc-0ba4-4b65-87e4-d5ae51245ea5.woff") format("woff"), url("../fonts/c677d79d-442e-4c76-8db1-c29ac7788039.ttf") format("truetype"), url("../fonts/216291a0-f927-4f75-9de7-6e36c7fd7ebf.svg#216291a0-f927-4f75-9de7-6e36c7fd7ebf") format("svg");
}


// @font-face {
//   font-family: "AvenirNextLTW01-Regular";
//   src: url("../fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix");
//   src: url("../fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix") format("eot"), url("../fonts/1e9892c0-6927-4412-9874-1b82801ba47a.woff") format("woff"), url("../fonts/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf") format("truetype"), url("../fonts/52a192b1-bea5-4b48-879f-107f009b666f.svg#52a192b1-bea5-4b48-879f-107f009b666f") format("svg");
// }

@font-face {
  font-family: "AvenirNextLTW01-Italic";
  src: url("../fonts/d1fddef1-d940-4904-8f6c-17e809462301.eot?#iefix");
  src: url("../fonts/d1fddef1-d940-4904-8f6c-17e809462301.eot?#iefix") format("eot"), url("../fonts/92b66dbd-4201-4ac2-a605-4d4ffc8705cc.woff") format("woff"), url("../fonts/18839597-afa8-4f0b-9abb-4a30262d0da8.ttf") format("truetype"), url("../fonts/1de7e6f4-9d4d-47e7-ab23-7d5cf10ab585.svg#1de7e6f4-9d4d-47e7-ab23-7d5cf10ab585") format("svg");
}


@font-face {
  font-family: "AvenirNextLTW01-Medium";
  src: url("../fonts/1a7c9181-cd24-4943-a9d9-d033189524e0.eot?#iefix");
  src: url("../fonts/1a7c9181-cd24-4943-a9d9-d033189524e0.eot?#iefix") format("eot"), url("../fonts/f26faddb-86cc-4477-a253-1e1287684336.woff") format("woff"), url("../fonts/63a74598-733c-4d0c-bd91-b01bffcd6e69.ttf") format("truetype"), url("../fonts/a89d6ad1-a04f-4a8f-b140-e55478dbea80.svg#a89d6ad1-a04f-4a8f-b140-e55478dbea80") format("svg");
}


// @font-face {
//   font-family: "AvenirNextLTW01-MediumS";
//   src: url("../fonts/a93710d4-c3ff-4ea1-8d65-9654dc8e216c.eot?#iefix");
//   src: url("../fonts/a93710d4-c3ff-4ea1-8d65-9654dc8e216c.eot?#iefix") format("eot"), url("../fonts/1c2f1139-8d32-4949-a56e-6135195411b6.woff") format("woff"), url("../fonts/9d42b81e-1def-4c8d-a497-0b925a852f8e.ttf") format("truetype"), url("../fonts/f601c5b6-88ef-43c8-8d25-6118df4597a8.svg#f601c5b6-88ef-43c8-8d25-6118df4597a8") format("svg");
// }

@font-face {
  font-family: "AvenirNextLTW01-MediumI_721278";
  src: url("../fonts/77a9cdce-ea6a-4f94-95df-e6a54555545e.eot?#iefix");
  src: url("../fonts/77a9cdce-ea6a-4f94-95df-e6a54555545e.eot?#iefix") format("eot"), url("../fonts/8344e877-560d-44d4-82eb-9822766676f9.woff") format("woff"), url("../fonts/b28b01d9-78c5-46c6-a30d-9a62c8f407c5.ttf") format("truetype"), url("../fonts/ed4d3c45-af64-4992-974b-c37cd12a9570.svg#ed4d3c45-af64-4992-974b-c37cd12a9570") format("svg");
}


@font-face {
  font-family: "AvenirNextLTW01-DemiSC";
  src: url("../fonts/05bf4460-e372-4411-8bf2-c52ad078be50.eot?#iefix");
  src: url("../fonts/05bf4460-e372-4411-8bf2-c52ad078be50.eot?#iefix") format("eot"), url("../fonts/809d6e38-4281-4624-8723-a9c08fda0dc0.woff") format("woff"), url("../fonts/f9fa8229-99d5-46e0-a44b-b3635a365879.ttf") format("truetype"), url("../fonts/6b9b78f8-e6fd-4fff-85a2-28b8091bcc58.svg#6b9b78f8-e6fd-4fff-85a2-28b8091bcc58") format("svg");
}


// @font-face {
//   font-family: "Avenir Next LT W01 Demi";
//   src: url("../fonts/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix");
//   src: url("../fonts/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix") format("eot"), url("../fonts/91b50bbb-9aa1-4d54-9159-ec6f19d14a7c.woff") format("woff"), url("../fonts/a0f4c2f9-8a42-4786-ad00-fce42b57b148.ttf") format("truetype"), url("../fonts/99affa9a-a5e9-4559-bd07-20cf0071852d.svg#99affa9a-a5e9-4559-bd07-20cf0071852d") format("svg");
// }

// @font-face {
//   font-family: "AvenirNextLTW01-DemiIta";
//   src: url("../fonts/770d9a7e-8842-4376-9319-8f2c8b8e880d.eot?#iefix");
//   src: url("../fonts/770d9a7e-8842-4376-9319-8f2c8b8e880d.eot?#iefix") format("eot"), url("../fonts/bc350df4-3100-4ce1-84ce-4a5363dbccfa.woff") format("woff"), url("../fonts/bc13ae80-cd05-42b4-b2a9-c123259cb166.ttf") format("truetype"), url("../fonts/4862b373-2643-46b1-b0b5-88537c52d15c.svg#4862b373-2643-46b1-b0b5-88537c52d15c") format("svg");
// }

@font-face {
  font-family: "Avenir Next LT W01 Bold";
  src: url("../fonts/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot?#iefix");
  src: url("../fonts/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot?#iefix") format("eot"), url("../fonts/b8e906a1-f5e8-4bf1-8e80-82c646ca4d5f.woff") format("woff"), url("../fonts/890bd988-5306-43ff-bd4b-922bc5ebdeb4.ttf") format("truetype"), url("../fonts/ed104d8c-7f39-4e8b-90a9-4076be06b857.svg#ed104d8c-7f39-4e8b-90a9-4076be06b857") format("svg");
}


// @font-face {
//   font-family: "AvenirNextLTW01-BoldIta";
//   src: url("../fonts/ac2d4349-4327-448f-9887-083a6a227a52.eot?#iefix");
//   src: url("../fonts/ac2d4349-4327-448f-9887-083a6a227a52.eot?#iefix") format("eot"), url("../fonts/25e83bf5-47e3-4da7-98b1-755efffb0089.woff") format("woff"), url("../fonts/4112ec87-6ded-438b-83cf-aaff98f7e987.ttf") format("truetype"), url("../fonts/ab1835cb-df6f-4d8d-b8ee-3075f5ba758d.svg#ab1835cb-df6f-4d8d-b8ee-3075f5ba758d") format("svg");
// }
