.saying::after {
  color: gray;
}
.intro {
  text-align: center;
  position: relative;
  bottom: 3em;
  @include breakpoint($mobile-landscape) {
    // bottom: 8em;
  }

  h1, h2 {
    letter-spacing: -2px;
    word-spacing: -4px;
    font-family: $font-family-intro;
  }
  h1 {
    padding: 80px 40px 0;
    margin-top: 0;
    @include breakpoint($mobile-landscape) {
      padding: 0;
    }
  }
}

.intro h1 > span {
  font-size: 1.2em;
  border-bottom: 3px solid $text-muted;
  display: inline-block;
  padding: 10px;
  > span {
    color: $tangerine;
  }
  @include breakpoint($xs) {
    font-size: 1.4em;
  }

  @include breakpoint($smx) {
    font-size: 1.7em;
    letter-spacing: -3px;
  }

  @include breakpoint($sm) {
    font-size: 1.9em;
    letter-spacing: -5px;
  }

  @include breakpoint($md) {
    font-size: 2.2em;
    // letter-spacing: -5px;
  }

  @include breakpoint($lg) {
    font-size: 1.8em;
  }
}

.intro h2 {
  letter-spacing: -2px;
  line-height: 1.3em;
  margin-top: 1em;
  color: $text-muted;
  font-size: 1.6em !important;
  @include breakpoint($sm) {
    font-size: 2.2em !important;
  }

  @include breakpoint($md) {
    font-size: 2.3em;
    line-height: 1.4em !important;
  }

  @include breakpoint($lg) {
    font-size: 2.5em;
    line-height: 1.5em !important;
  }
}

/* --------------------------------

typing effect adapted from: http://codyhouse.co/gem/css-animated-headlines/

-------------------------------- */

// colors

$color-1: #aebcb9;

// Tower Gray
$color-2: #0096a7;

// Bondi Blue
$color-3: #0d0d0d;

// Cod Gray

.words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
  b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
    font-family: $font-family-intro !important;
    font-weight: normal;
    &.is-visible {
      position: relative;
    }
  }
  .no-js & b {
    opacity: 0;
    &.is-visible {
      opacity: 1;
    }
  }
}

.headline.type {
  .words-wrapper {
    vertical-align: top;
    overflow: hidden;
    &::after {
      /* vertical bar */
      content: '';
      position: absolute;
      right: 0;
      @include center(y);
      height: 90%;
      width: 1px;
      background-color: $color-1;
    }
    &.waiting::after {
      @include animation(typing-pulse 1s infinite);
    }
    &.selected {
      background-color: $tangerine;
      i {
        color: $gray-dark;
      }
      &::after {
        visibility: hidden;
      }
      b {
        color: $color-3;
      }
    }
  }
  b {
    visibility: hidden;
    font-weight: 300;
    &.is-visible {
      visibility: visible;
    }
  }
  i {
    font-weight: 300;
    position: absolute;
    visibility: hidden;
    font-style: normal;
    &.in {
      position: relative;
      visibility: visible;
    }
  }
}

@include keyframes(typing-pulse) {
  0% {
    @include transform(translateY(-50%) scale(1));
    opacity: 1;
  }
  40% {
    @include transform(translateY(-50%) scale(0.9));
    opacity: 0;
  }
  100% {
    @include transform(translateY(-50%) scale(0));
    opacity: 0;
  }
}
