/* --------------------------------

projects for quick update

-------------------------------- */
@include breakpoint($md) {
  .project {
    .visual {
      @include span-columns(8);
      margin-right: 0;
      &.codepen-v {
        @include span-columns(5.5);
      }
    }
    .text {
      @include span-columns(4);
      &.codepen-t {
        @include span-columns(6.5);
      }
    }
    &:nth-of-type(even) {
      @include row($direction: RTL);
      .visual, .text {
        float: right;
        &.codepen-t {
          padding: 0 2.3576515979%;
        }
      }
    }
    &:nth-of-type(odd) {
      @include row($direction: LTR);
      .text {
        margin-right: 2.3576515979%;
        &.codepen-t {
          padding-right: 2.3576515979%;
        }
      }
      .visual {
        &.codepen-v {
          padding-left: 2.3576515979%;
        }
      }
    }
  }
}

.project {
  .codepen-v {
    margin: 0 -15px;
    @include breakpoint($xs) {
      margin: 0;
    }
  }
}
/* --------------------------------*/




#projects {
  .description {
    padding-left: 1.5em;
    padding-right: 1.5em;
    @include breakpoint($md) {
      padding: 0 1em;
    }

    @include breakpoint($lg) {
      padding: 0;
    }

    h2 {
      @include breakpoint($md) {
        font-size: 1.8em;
      }

      @include breakpoint($lg) {
        font-size: 2em;
      }
    }
  }
  @include breakpoint($xs) {
    .description {
      .content, .tech-list {
        margin-left: 10px;
      }
    }
  }

  .tech-list {
    -webkit-padding-start: 0;
    list-style-type: none;
    li {
      display: inline-block;
      font-family: $font-avenir-next-light-sc;
      padding-right: .4em;
      font-size: $font-size-small;
      color: $text-muted;
      span {
        height: 20px;
        width: 20px;
        vertical-align: text-bottom;
      }
    }
  }
  .links {
    white-space: nowrap;
    padding-top: 2em;
    text-align: center;
    text-transform: uppercase;
    a {
      border-bottom: none;
      font-style: normal;
      &::before {
        background: none;
      }
    }
    > div {
      text-transform: none;
      font-size: .8em;
      font-family: $font-avenir-next-italic;
    }
  }
  a svg {
    vertical-align: text-top;
    width: 25px;
    height: 25px;
  }
  .row {
    margin-bottom: 4em;
  }
}

/*
* Projects
*/
.project {
  @include project-theme($tangerine);
}

#ohey {
  .browser-content {
    @include browser-content("../images/ohey-sm.png");
    height: 18em;
  }
}

#sudoku {
  .browser-content {
    @include browser-content("../images/sudoku-sm.png");
    height: 36em;
  }
}

#devbootcat {
  .browser-content {
    @include browser-content("../images/devbootcat.png");
    height: 24em;
  }
}

#devpizzacamp {
  .browser-content {
    @include browser-content("../images/devpizzacamp.png");
    height: 18em;
  }
}

#polity {
  .browser-content {
    @include browser-content("../images/polity.png");
    height: 20em;
  }
}

#devref {
  .browser-content {
    @include browser-content("../images/devref.png");
    height: 24em;
  }
}

@include breakpoint($xxs) {
  #devbootcamp .browser-content {
    height: 25em;
  }
}


@include breakpoint($xs) {
  #ohey .browser-content,
  #polity .browser-content {
    height: 27em;
  }
}


@include breakpoint(min-width 518px) {
  #ohey .browser-content {
    @include browser-content("../images/ohey-lg.png");
    height: 20em;
  }
  #sudoku .browser-content {
    @include browser-content("../images/sudoku-lg.png");
    height: 27em;
  }
  #devbootcat .browser-content {
    height: 26em;
  }
  #devpizzacamp .browser-content {
    height: 30em;
  }
  #polity .browser-content {
    height: 36em;
  }
  #devref .browser-content {
    height: 27em;
  }
}


@include breakpoint($sm) {
  #ohey .browser-content {
    height: 29em;
  }
  #sudoku .browser-content {
    height: 36em;
  }
  #devpizzacamp .browser-content {
    height: 38em;
  }
  #devbootcat .browser-content {
    height: 42em;
  }
  #devref .browser-content {
    height: 32em;
  }
}


@include breakpoint($md) {
  #ohey .browser-content {
    height: 18em;
  }
  #sudoku .browser-content {
    height: 26em;
  }
  #devpizzacamp .browser-content {
    height: 28em;
  }
  #devbootcat .browser-content {
    height: 34em;
  }
  #polity .browser-content {
    height: 28em;
  }
}


@include breakpoint($lg) {
  #ohey .browser-content {
    height: 21em;
  }
  #sudoku .browser-content {
    height: 31em;
  }
}


@include breakpoint(min-width 1450px) {
  #ohey .browser-content {
    height: 26em;
  }
}
