//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #20262b;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              #545e67;
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         #ffe868;
$brand-success:         #ffe868;
$brand-info:            #90759e;
$brand-warning:         #ff8a6c;
$brand-danger:          #ff8a6c;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #fff !default;
//** Global text color on `<body>`.
$text-color:            $gray-dark !default;

//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: none;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Whitney SSm A", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace;

$font-size-base:          16px;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    inherit !default;
$body-font-weight:        300;
$headings-font-weight:    400;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;

$navbar-default-color:             #777 !default;
$navbar-default-bg:                #ffffff;
$navbar-default-border:            #ffffff;

//##

$font-size-base:          18px;
$font-size-large:         ceil(($font-size-base * 1.45)); // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1:            floor(($font-size-base * 3));
$font-size-h2:            floor(($font-size-base * 2.5));
$font-size-h3:            ceil(($font-size-base * 2));
$font-size-h4:            ceil(($font-size-base * 1.75));
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.95));

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.828571429; 
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

$panel-bg:                    #fff !default;
$panel-body-padding:          15px !default;
$panel-heading-padding:       10px 15px !default;
$panel-footer-padding:        $panel-heading-padding !default;
$panel-border-radius:         $border-radius-base !default;

//** Border color for elements within panels
$panel-inner-border:          #ddd !default;
$panel-footer-bg:             #f5f5f5 !default;

$panel-default-text:          $gray-dark !default;
$panel-default-border:        #ddd !default;
$panel-default-heading-bg:    #ffffff;
$panel-default-heading-size:  $font-size-h2;

