@font-face {
    font-family:"Flaticon";
    src: url("fonts/flaticon.eot");
    src: url("fonts/flaticon.eot#iefix") format("embedded-opentype"), url("fonts/flaticon.woff") format("woff"), url("fonts/flaticon.ttf") format("truetype"), url("fonts/flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 30px;
    font-style: normal;
}
.flaticon-blood:before {
    content:"\e000";
}
.flaticon-bread4:before {
    content:"\e001";
}
.flaticon-coffee11:before {
    content:"\e002";
}
.flaticon-cool5:before {
    content:"\e003";
}
.flaticon-dessert:before {
    content:"\e004";
}
.flaticon-dish:before {
    content:"\e005";
}
.flaticon-drink14:before {
    content:"\e006";
}
.flaticon-favourites1:before {
    content:"\e007";
}
.flaticon-fork4:before {
    content:"\e008";
}
.flaticon-full5:before {
    content:"\e009";
}
.flaticon-glass20:before {
    content:"\e00a";
}
.flaticon-ice19:before {
    content:"\e00b";
}
.flaticon-italian1:before {
    content:"\e00c";
}
.flaticon-pizza3:before {
    content:"\e00d";
}
.flaticon-star2:before {
    content:"\e00e";
}
.flaticon-star39:before {
    content:"\e00f";
}
.flaticon-tall14:before {
    content:"\e010";
}
.flaticon-wine2:before {
    content:"\e011";
}
.flaticon-wine39:before {
    content:"\e012";
}


@font-face {
    font-family: 'forms';
    src:url('fonts/forms.eot?-jcsin2');
    src:url('fonts/forms.eot?#iefix-jcsin2') format('embedded-opentype'),
        url('fonts/forms.woff?-jcsin2') format('woff'),
        url('fonts/forms.ttf?-jcsin2') format('truetype'),
        url('fonts/forms.svg?-jcsin2#forms') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'forms';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-size: 30px;
    font-style: normal;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-radio-fill:before {
    content: "\e600";
}

.icon-radio:before {
    content: "\e601";
}
.icon-radio:after {
    content: "\e600";
}
.icon-checkbox:before {
    content: "\e602";
}
.icon-checkbox-check:before {
    content: "\e603";
}
.icon-checkbox-fill:before {
    content: "\e604";
}


@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeInDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-o-keyframes fadeInDown, @-moz-keyframes fadeInDown, @-webkit-keyframes fadeInDown, @keyframes fadeInDown {
    0% {
        opacity: 0;
        -o-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

@-o-keyframes fadeInDown, @-moz-keyframes fadeInDown, @-webkit-keyframes fadeInDown, @keyframes fadeInDown  {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
}


/*Main Styles*/
 body {
    font-family:'News Cycle', 'Open Sans', 'Helvetica', 'Helvetica Neue', Arial, sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
}

.pure-g-r *, .pure-g * {
   font-family:'News Cycle', 'Open Sans', 'Helvetica', 'Helvetica Neue', Arial, sans-serif;
}
.nested {
    padding: 0 2em 0 0;
}
.nested:last-child {
    padding-right: 0;
}
/*Menu*/
 .home-menu.pure-menu-open {
    background: #EDEDF3;
}
.home-menu .pure-menu-heading {
    color: #2D3E50;
    float: left;
}
.home-menu li a {
    color: #2d3e50;
    background:#ffffff;
}
.home-menu li.pure-menu-selected a {
    color: #dc3d3a;
}
.home-menu li a:hover {
    background: #f8f8fb;
    color: #dc3d3a;
}
/*Buttons*/
 a.pure-button-primary {
    border-radius: 1px;
}
/*LOGO*/
 .logo-container {
    margin: 0 auto;
    max-width: 350px;
}

.logo-container img {
  padding: 10px 0;
}
/*SPLASH*/
 .splash-head {
    font-size: 250%;
    padding: 0;
    border: none;
}
.splash {
    top:20px;
    width: 80%;
    min-height: 500px;
    margin-bottom: 0;
}
.splash figure {
    margin-bottom: 20px;
}
.splash figure img {
    max-width: 80%;
    border: 6px solid #A4617F;
    border-radius: 50%;
}
.splash figure:last-child img {

}
.splash .pure-button-primary {
    font-size: 150%;
}
/* Menu Content*/
 .content-head {
    text-transform: none;
    margin: 1em 0;
}
.menu-category {
    margin: 0;
    padding-bottom: .2em;
    margin-bottom: .6em;
}
.content-subhead {
    font-family: Neucha;
}
.menu-items {
    display: table;
}

.row-item {
    display: table-row;
}
.menu-item, .menu-delimiter, .menu-price {
    display: table-cell;
}
.menu-item, .menu-price {
    width: auto;
    white-space: nowrap;
    position: relative;
    top: .5em;
}
.menu-item {
    padding-right: .2em;
}
.menu-price {
    padding-left: .2em;
}
.menu-delimiter {
    width: 100%;
    border-bottom: dashed 2px #7f8c8d;
}

.menu-group .menu-items:last-child {
    margin-bottom: 20px;
}
/*BORDER STYLES*/
 .stretch {
    border-width: 10px;
    padding: 10px;
}
.pure-form input[type].image-red {
    -moz-border-image:url(img/red-dot@2x.png) 10 10 stretch;
    /* for Firefox */
    -webkit-border-image:url(img/red-dot@2x.png) 30 30 stretch;
    /* for Safari and Chrome */
    -o-border-image:url(img/red-dot@2x.png) 30 30 stretch;
    /* for Opera */
    border-image:url(img/red-dot@2x.png) 30 30 stretch;
    border-style: solid;
}
.pure-form input[type].image-purple {

    -moz-border-image:url(img/purple-dot@2x.png) 10 10 stretch;
    /* for Firefox */
    -webkit-border-image:url(img/purple-dot@2x.png) 30 30 stretch;
    /* for Safari and Chrome */
    -o-border-image:url(img/purple-dot@2x.png) 30 30 stretch;
    /* for Opera */
    border-image:url(img/purple-dot@2x.png) 30 30 stretch;
    border-style:solid;
}
.pure-form input[type].image-blue {
    -moz-border-image:url(img/blue-dot@2x.png) 10 10 stretch;
    /* for Firefox */
    -webkit-border-image:url(img/blue-dot@2x.png) 30 30 stretch;
    /* for Safari and Chrome */
    -o-border-image:url(img/blue-dot@2x.png) 30 30 stretch;
    /* for Opera */
    border-image:url(img/blue-dot@2x.png) 30 30 stretch;
    border-style: solid;
}
.pure-form input[type].image-dark, .pure-form select.image-dark, .image-dark {

    -moz-border-image:url(img/dark-dot@2x.png) 10 10 stretch;
    /* for Firefox */
    -webkit-border-image:url(img/dark-dot@2x.png) 30 30 stretch;
    /* for Safari and Chrome */
    -o-border-image:url(img/dark-dot@2x.png) 30 30 stretch;
    /* for Opera */
    border-image:url(img/dark-dot@2x.png) 30 30 stretch;
    border-style: solid;
    border-width:4px;
}

.pure-form input[type="select"], select, input[type="radio"], input[type="checkbox"] {
    -webkit-appearance: none;
}


.pure-form ul.custom-check li, .pure-form ul.custom-radio li  {
    list-style-type: none;
    padding: 10px;
}

.pure-form ul li label {
    position: relative;
    padding-left: 2em;
    cursor: pointer;
}

.pure-form ul.custom-radio li label  {

}

.pure-form ul.custom-radio li label:before, .pure-form ul.custom-radio li label:after, .pure-form ul.custom-check li label:before, .pure-form ul.custom-check li label:after {
    font-family: 'forms';
    font-size: 1.3em;
    position: absolute; top: 0; left: 0;
}

.pure-form ul.custom-radio li label:after {
    max-height: 0;
    overflow: hidden;

}

.pure-form ul.custom-check li label:after {
    max-width: 0;
    overflow: hidden;
    opacity: 0.5;
}


.pure-form ul.custom-radio li label:before {
    content: '\e601';
}

.pure-form ul.custom-radio li label:after {
    content: '\e600';
  -moz-transition: max-height 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: max-height 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition:         max-height 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}

.pure-form ul.custom-check li label:before {
    content: '\e602';
}

.pure-form ul.custom-check li label:after {
    content: '\e603';
    transition: all 0.5s;
}

.pure-form input[type], .pure-form select {
    padding: .125em;
}


.pure-form ul.custom-radio li input[type="radio"], .pure-form ul.custom-check li input[type="checkbox"] {
    display: none;
}
.pure-form ul.custom-radio li input[type="radio"]:checked + label:after, .pure-form ul.custom-check li input[type="checkbox"]:checked + label:after {
    max-width: 50px; /*an arbitratry number more than the icon's width*/
    max-height: 50px; /*an arbitratry number more than the icon's width*/
    opacity: 1;
}
.pure-form ul.form-list-horizontal, .pure-form ul.form-list-vertical {
    padding: 0;
    margin: .25em 0;
}

.pure-form ul.form-list-horizontal li, .pure-form ul.form-list-vertical li {
    padding: 0;
}

.pure-form ul.form-list-horizontal {
    display: inline;
}

.pure-form ul.form-list-horizontal li {
    display: inline-block;
}

.pure-form ul.form-list-horizontal li:last-child {
    padding-left: 1em;
}

.footer a {
    color: #c16a92;
    text-decoration: none;
}


@media (max-width: 767px) {
    .splash {
/*        top: 30px;*/
    top: auto;

    }
    .splash figure img {
        max-width: 200px;
    }
    .splash-container {
        bottom: 120px;
    }
     .hide-hack {
        display: none;
        } 

    .pure-menu-heading {
        display: none !important;
    }


.pure-menu.pure-menu-horizontal>ul {
        float: left;
    }

    .pure-menu-horizontal li {
        display: block;
    }

        .pure-menu-horizontal ul {
       width: 30%;
    }





    .logo-container {
/*        float: right;*/
    max-width: 66%;
    }

    .logo-container img {
        width: 240px;
        padding: 10px 0;

    }

    .splash-head {
        font-size: 200%;
        padding: 0 10px 10px;
        margin-bottom: 10px;
        margin-top: 0;
        border: none;
        top: -20px;
        position: relative;
}

.splash p {
    margin: 3em 0 1em;
}

.splash-head {
    font-size: 200%;
    padding: 0 10px 10px;
    margin-bottom: 10px;
    margin-top: 0;
    border: none;
}

.pure-menu li a {
    padding: 1px;
}
}

@media (max-width: 767px) {
.logo-container {
float: right;
max-width: 66%;
}

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 400px) {

/*    .splash-section-figure:first-child {
     top: 50px;
     position:relative;*/
 
.splash .pure-button-primary {
    font-size: 100%;
}


 .splash figure img {
    max-width: 150px;
 }

 .logo-container img {
    padding: 0 0 10px 0;
    float: left;
    max-width: 90%;
 }

 .home-menu {
    padding: 5px 5px 0;
 }

  .pure-menu-horizontal ul {
    margin-bottom: 5px;
  }

  .splash {
    min-height: inherit;
    top: 20px;
    margin: 0 auto;
  }

  .splash-head {
    visibility: hidden;
  }

  .splash p {
    margin: 0;
  }
}
