doctype html
html
  head
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimal-ui')
    title carolineartz github io

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->


    link(rel='stylesheet', href="https://fontastic.s3.amazonaws.com/gteBrByXDfCc2cnKjj7sVA/icons.css")
    <!-- -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->

    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    link(rel='stylesheet', href='styles/main.css')
    <!-- -->
    <!-- endbuild -->

    <!-- build:js scripts/vendor/icons.js -->
    <!-- endbuild -->
    <!-- -->
    script(src='https://fontastic.s3.amazonaws.com/gteBrByXDfCc2cnKjj7sVA/icons.js')
    <!-- -->


    <!-- build:js scripts/vendor/modernizr.js -->
    script(src='../bower_components/modernizr/modernizr.js')
    <!-- -->
    <!-- endbuild -->


  body
    block content

    block scripts
      <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
      <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-45765981-1');ga('send','pageview');
      </script>
      <!-- build:js scripts/vendor.js -->
      <!-- bower:js -->
      script(src='../bower_components/jquery/dist/jquery.js')
      <!-- -->
      <!-- endbower -->
      <!-- endbuild -->
      <!-- build:js scripts/plugins.js -->
      script(src='../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js')
      script(src='../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js')
      script(src='../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js')
      script(src='../bower_components/bootstrap-autohidingnavbar/dist/jquery.bootstrap-autohidingnavbar.min.js')
      <!-- -->
      <!-- endbuild -->
      <!-- build:js scripts/main.js -->
      script(src='scripts/main.js')
      <!-- -->
      <!-- endbuild -->

