#accordion {
  .panel {
    border: none;
    @include box-shadow(none);
  }
}

.panel-heading [data-toggle="collapse"] {
  // @include reveal-underline;
  display: block;
  padding: 10px 0;
  font-size: 30px;
  @include breakpoint($xxs) {
    padding: 13px 0;
    font-size: 40px;
  }

  @include breakpoint($sm) {
    font-size: 45px;
  }

  @include breakpoint($md) {
    padding: 15px 0;
    font-size: 50px;
  }

  @include breakpoint($lg) {
    padding: 20px 0;
    font-size: 60px;
  }

  color: $text-muted;
  span svg {
    @include transition(0.3s ease);
    @include transform(rotate(45deg));
  }
  svg path {
    stroke-width: 15;
    fill: $text-muted;
    stroke: white;
  }
  &.collapsed {
    span svg {
      @include transform(rotate(0deg));
    }
  }
}
