
#cv .panel-body > div {
  @include breakpoint($xs) {
    margin-left: 40px;
    .content {
    margin-left: 10px;
    }
  }
}

#cv {
  .content > div {
    margin-bottom: 10px;
    &:first-of-type {
      margin-bottom: 0;
    }
  }
  p {
    margin-left: 10px;
  }

  .title, .position {
    font-size: 1.5em;
    line-height: 1em;
  }
  .institution, .location {
    color: $text-muted;
    display: inline-block;
  }
  .time {
    display: inline-block;
  }
}