
#cv .panel-body > div {
  @include breakpoint($xs) {
    margin-left: 40px;
    .content {
    margin-left: 10px;
    }
  }
}

#cv {
  .content > div {
    margin-bottom: 1.3em;
    &:first-of-type p {
      margin-bottom: 0;
    }
  }
  p {
    margin-left: 10px;
  }
  .title, .position {
    font-size: 1.5em;
    line-height: 1em;
    border-bottom: 2px solid $tangerine;
    padding-bottom: .4em;
  }
  @include breakpoint($sm) {
    .title, .position {
      border-bottom: none;
      span {
        border-bottom: 2px solid $tangerine;
      }
    }
  }

  .institution, .location {
    color: $text-muted;
    line-height: 1.3em;
    padding-top: .3em;
//    display: inline-block;
  }
  .time {
    color: $gray-dark;
  }
}