#projects .content > .row {
  @include breakpoint($lg) {
    margin-right: 20px;
    &:nth-of-type(2n+1) {
      margin-left: 20px;
      margin-right: -15px;
    }
  }
}

#projects {
  .description {
    padding-left: 1em;
    padding-right: 1em;
    @include breakpoint($lg) {
      padding: 0;
    }

    h2 {
      @include breakpoint($md) {
        font-size: 1.8em;
      }

      @include breakpoint($lg) {
        font-size: 2em;
      }
    }
  }
  @include breakpoint($xs) {
    .description {
      .content {
        margin-left: 10px;
      }
    }
  }

  .tech-list {
    -webkit-padding-start: 0;
    list-style-type: none;
    li {
      display: inline-block;
      font-family: $font-avenir-next-light-sc;
      padding-right: .4em;
      font-size: $font-size-small;
      color: $text-muted;
      span {
        height: 20px;
        width: 20px;
        vertical-align: text-bottom;
      }
    }
  }
  .links {
    white-space: nowrap;
    padding-top: 2em;
    text-align: center;
    text-transform: uppercase;
    a {
      border-bottom: none;
      font-style: normal;
      &::before {
        background: none;
      }
    }
  }
  a svg {
    vertical-align: text-top;
    width: 25px;
    height: 25px;
  }
  .row {
    margin-bottom: 4em;
  }
  /*
  * Projects
  */
  #ohey, #sudoku, #devbootcat, #devpizzacamp, #polity, #devref {
    @include project-theme($tangerine);
  }
  #ohey {
    .browser-content {
      @include browser-content("../images/ohey-sm.png");
      height: 18em;
    }
  }
  #sudoku {
    .browser-content {
      @include browser-content("../images/sudoku-narrow.png");
      height: 36em;
    }
  }
  #devbootcat {
    .browser-content {
      @include browser-content("../images/devbootcat.png");
      height: 24em;
    }
  }
  #devpizzacamp {
    .browser-content {
      @include browser-content("../images/devpizzacamp.png");
      height: 18em;
    }
  }
  #polity {
    .browser-content {
      @include browser-content("../images/polity.png");
      height: 20em;
    }
  }
  #devref {
    .browser-content {
      @include browser-content("../images/devref.png");
      height: 24em;
    }
  }
  /*
  *    Media Breakpoints
  */
  @include breakpoint($xxs) {
    #devbootcamp .browser-content {
      height: 25em;
    }
  }

  @include breakpoint($xs) {
    #ohey .browser-content {
      height: 27em;
    }
    #polity .browser-content {
      height: 27em;
    }
  }

  @include breakpoint(min-width 518px) {
    #ohey .browser-content {
      @include browser-content("../images/ohey2.png");
      height: 20em;
    }
    #sudoku .browser-content {
      @include browser-content("../images/sudoku-solver.png");
      height: 27em;
    }
    #devbootcat .browser-content {
      height: 26em;
    }
    #devpizzacamp .browser-content {
      height: 30em;
    }
    #polity .browser-content {
      height: 36em;
    }
    #devref .browser-content {
      height: 27em;
    }
  }

  @include breakpoint($sm) {
    #ohey .browser-content {
      height: 29em;
    }
    #sudoku .browser-content {
      height: 36em;
    }
    #devpizzacamp .browser-content {
      height: 38em;
    }
    #devbootcat .browser-content {
      height: 42em;
    }
    #devref .browser-content {
      height: 32em;
    }
  }

  @include breakpoint($md) {
    #ohey .browser-content {
      height: 18em;
    }
    #sudoku .browser-content {
      height: 26em;
    }
    #devpizzacamp .browser-content {
      height: 28em;
    }
    #devbootcat .browser-content {
      height: 34em;
    }
    #polity .browser-content {
      height: 28em;
    }
  }

  @include breakpoint($lg) {
    #ohey .browser-content {
      height: 21em;
    }
    #sudoku .browser-content {
      height: 31em;
    }
  }

  @include breakpoint(min-width 1450px) {
    #ohey .browser-content {
      height: 26em;
    }
  }
}
