+project('devpizzacamp', 'Dev PizzaCamp', 'left')
  .content Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum. Maecenas faucibus mollis interdum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
  +technology('pureCSS')
  .links
    a.repo(href='#') <svg class="icon-github-1"><use xlink:href="#icon-github-1"></use></svg> project
    a.live(href='#') <svg class="icon-link"><use xlink:href="#icon-link"></use></svg> live