+section('about', '#about')
  .content
    h2 About me
    .col-sm-6.col-sm-push-6
      .about-photo <span class="image-border"><img src="/images/carolineartz-main@2x.jpg" /></span>
    .col-sm-6.col-sm-pull-6
      p hi
      p hi
      p hi
      p hi
      p hi
      p hi
