+section('about')
  .about-content
    .about-me
      //- .about-img

      .about-text
        img(class="me-pic" src="images/carolinemesm.png")
        p.
          I'm a passionate and enthusiastic web-developer experienced in both Front-end and Back-end development.
          I'm currently living in Chicago and looking for opportunities in Chicago or San Francisco/Bay Area.
        p.
          I wake up every day excited to code. I love constantly learning new things, and teaching others what I know.
          Thanks for checking out my site and please <a href="mailto:ceartz@gmail.com">email me</a> about any job opportunities...or just to say hello!
    .contact-me
      .about-icons
        .social-icons
          ul.icons
            +social-icon('twitter', 'http://www.twitter.com/carolineartz')
            +social-icon('linkedin', 'http://www.linkedin.com/in/carolineartz')
            +social-icon('github', 'https://github.com/carolineartz')
            +social-icon('facebook', 'http://www.facebook.com/caroline.artz')
            +social-icon('email', 'mailto:ceartz@gmail.com')


