+section('about', '#about')
  .content
    h2 About me
    .col-sm-6.col-sm-push-6
      #about-photo <img src="/images/carolineartz-main@2x.jpg" />
    .col-sm-6.col-sm-pull-6
      p hi
      p hi
      p hi
      p hi
      p hi
      p hi
