.panel.panel-default
  .panel-heading
    h4.panel-title
      a(data-parent='#accordion', data-toggle='collapse', href='#contact', class='collapsed') Contact                
  #contact.panel-collapse.collapse.in
    .panel-body Contact