+section('cv')
  .content
    #education
      h2 Education
      .container
          #timeline
            +timeline('e-northwestern', 'Master of Science in Information Systems', 'Northwestern University', 'left', true, 'Ongoing')
              h4 Selected Course Work
              .course-container
                #machine-learning.course Data Mining & Data Warehousing. <span class="description">Comparing <b>machine learning classification algorithms</b> on wine composition dataset <a target="_blank"  href="docs/Artz_Assignment_Comparing_Classifiers_Data_Mining.pdf">preliminary work</a> and <a href="docs/Artz_FinalPaper_Comparing_Classifiers_Data_Mining.pdf" target="_blank">final paper</a>.</span>
              .divider-short
              .course-container
                #telecommunications.course Telecommunications Networks. <span class="description">Case Study: <a href="docs/Artz_Drew_FinalProject_Telecommunications.pdf">Frame Relay Public Switched Data Network</a>.</span>
              .divider-short
              .course-container
                #object-oriented-programming.course Object Oriented Programming. <span class="description"> Cash for Metals program in <b>Java</b>. <a href="https://github.com/carolineartz/CashforMetals" target="_blank">Source on<svg class="icon-github-1"><use xlink:href="#icon-github-1"></use></svg></a>.</span>
            +timeline('e-dbc', 'Web Development: Ruby on Rails', 'Dev Bootcamp', 'right', false)
              p Code samples available on<a target="_blank" href="https://github.com/carolineartz/dbc-work"><svg class="icon-github-1"><use xlink:href="#icon-github-1"></use></svg></a>.
            +timeline('e-uw-madison', 'Bachelor of Science in Psychology', 'University of Wisconsin-Madison', 'left', false)
    #work
      h2 Work
      .container
          #timeline
            +timeline('w-dbc', 'Prep Phase Guide & Tutor', 'Dev Bootcamp', 'right', true, '2014 - ongoing')
              p Teach students web-development fundamentals (<b>Ruby</b>, <b>JavaScript</b>, <b>Git</b>, <b>HTML and CSS</b>) as they prepare for the on-campus phase of Dev Bootcamp.
            +timeline('w-ohey', 'Full Stack Developer & Founding Member', 'Ohey App', 'left', true, '2014')
              p Cofounding member of small team affiliated with University of Chicago developing a social communication web app. Our team won space at <a href="http://www.1871.com/" target="_blank">1871</a>, an entrepreneurial hub for digital startups in Chicago, as part of their <a href="https://research.chicagobooth.edu/nvc/collegenvc/" target="_blank">College New Venture Challenge</a>.
            +timeline('w-startup-institute', 'Adjunct Instructor: Web Development Track', 'Startup Institute', 'right', true, '2014')
              p Instructed the full curriculum for the <b>Ruby on Rails</b> Web Development track.
            +timeline('w-motts58', 'Web & Digital Media Manager', 'Motts58 Foundation', 'left', true, '2012-2013')
              p Developed and maintained the non-profit's website and digital media presence, primarily working with <b>HTML</b>, <b>CSS</b>, <b>jQuery</b>, <b>Wordpress</b> &amp; <b>graphic design</b>).
            +timeline('w-cprgi', 'Clinical Database Manager', 'Northwestern University Division of Gastroenterology', 'right', true, '2009-2014')
              p Designed and developed a clinical <b>relational database management systems</b> for Division. Initiated and coordinated the implementation of a increasingly scalable division-wide integrated database management and electronic data capture research platform.
              h4 Publications in Peer-Reviewed Journals
              ul.publications
                li
                  a(target='_blank', href='http://www.ncbi.nlm.nih.gov/pubmed/21351218') Optimizing management of Crohn&rsquo;s disease within a project management framework: results of a pilot study
                li
                  a(target='_blank', href='http://www.ncbi.nlm.nih.gov/pubmed/21424542') Perceptions of illness stigma in patients with inflammatory bowel disease and irritable bowel syndrome
                li
                  a(target='_blank', href='http://www.ncbi.nlm.nih.gov/pubmed/20658805') Impact of race on early treatment termination and outcomes in posttraumatic stress disorder treatment
                li
                  a(target='_blank', href='http://www.ncbi.nlm.nih.gov/pubmed/19588513') Participant Reactions to a Pretreatment Research Assessment During a Treatment Outcome Study for PTSD
    .resume
      div download <a href="docs/artz.caroline.resume.pdf">pdf resume</a>
