+section('cv', '#cv')
  .content
    h2 Education
    .container
        #timeline
            .timeline-item
              .timeline-icon
                //- img(src='assets/images/star.svg', alt='')
              .timeline-content
                h2 LOREM IPSUM DOLOR
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, facilis quo maiores magnam modi ab libero praesentium blanditiis.
            .timeline-item
              .timeline-icon
                //- img(src='assets/images/book.svg', alt='')
              .timeline-content.right
                h2 LOREM IPSUM DOLOR
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, facilis quo. Maiores magnam modi ab libero praesentium blanditiis consequatur aspernatur accusantium maxime molestiae sunt ipsa.
            .timeline-item
              .timeline-icon
                //- img(src='assets/images/star.svg', alt='')
              .timeline-content
                h2 LOREM IPSUM DOLOR
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, facilis quo. Maiores magnam modi ab libero praesentium blanditiis consequatur aspernatur accusantium maxime molestiae sunt ipsa.
