+section('projects')
  .content
    +project('ohey', 'Ohey', 'right')
      .content Ohey was a University of Chicago startup and social networking platform built primarily in Django and Angular.
      +technology('angular', 'bootstrap', 'django', 'python')
      .links
        .div Please inquire about source code.
    hr
    +project('sudoku', 'Sudoku Solver', 'left')
      .content This Sudoku solver is an extension of a project built at Dev Bootcamp in which we took the original Ruby code and put it on the web using the Sinatra framework and custom styles.
      +technology('sinatra', 'ruby', 'sass/compass')
      .links
        a.repo(href='https://github.com/zmitton/sudoku' target='_blank') <svg class='icon-github-1'><use xlink:href='#icon-github-1'></use></svg> project
        a.live(href='http://sudoku-puzzle-solver.herokuapp.com/' target='_blank') <svg class='icon-link'><use xlink:href='#icon-link'></use></svg> live

    hr
    +project('devbootcat', 'Dev BootCat', 'right')
      .content Dev BootCat is the result of a 5-day group project and first rails web app.
      +technology('rails', 'sass', 'ruby', 'devise')
      .links
        a.repo(href='https://github.com/fab9/devbootcat' target='blank') <svg class='icon-github-1'><use xlink:href='#icon-github-1'></use></svg> project
        a.live(href='http://devbootcat.herokuapp.com/' target='_blank') <svg class='icon-link'><use xlink:href='#icon-link'></use></svg> live
    hr
    +project('devpizzacamp', 'Dev PizzaCamp', 'left')
      .content This menu was a quick html/css challenge during prep phase for Dev Bootcamp. I utilized <a href="http://purecss.io/>">Pure.css</a> modules for styles.
      +technology('html', 'css')
      .links
        a.repo(href='https://github.com/carolineartz/dbc-work/tree/master/phase0/dev_pizza_camp' target='_blank') <svg class='icon-github-1'><use xlink:href='#icon-github-1'></use></svg> project
        a.live(href='http://www.carolineartz.me/dbc-portfolio/html-css-projects/dev-pizza-camp/menu.html' target='_blank') <svg class='icon-link'><use xlink:href='#icon-link'></use></svg> live
    hr
    +project('polity', 'Polity Chicago', 'right')
      .content Polity is built on Rails and uses Bourbon, Neat, and Refills for styles.
      +technology('rails', 'sass/bourbon')
      .links
        a.repo(href='https://github.com/carolineartz/Polity' target='_blank') <svg class='icon-github-1'><use xlink:href='#icon-github-1'></use></svg> project
    hr
    +project('devref', 'DevRef for Rails Developers', 'left')
      .content This 'cheatsheet' was created for an html/css challenge during prep phase for Dev Bootcamp. I utilized <a href="http://purecss.io/>">Pure.css</a> modules for styles.
      +technology('html', 'css')
      .links
        a.repo(href='') <svg class='icon-github-1'><use xlink:href='#icon-github-1'></use></svg> project
        a.live(href='http://www.carolineartz.me/dbc-portfolio/cheatsheet/dev-cheatsheet.html') <svg class='icon-link'><use xlink:href='#icon-link'></use></svg> live
