#portfolio
  +section('projects', '#projects')
    include ./projects/p1-ohey.jade
    hr
    include ./projects/p2-sudoku-solver.jade
    hr
    include ./projects/p3-devbootcat.jade
    hr
    include ./projects/p4-devpizzacamp.jade
    hr
    include ./projects/p5-polity.jade
    hr
    include ./projects/p6-devref.jade