.panel.panel-default
  .panel-heading
    h4.panel-title
      a(data-parent='#accordion', data-toggle='collapse', href='#projects') Projects                
  #projects.panel-collapse.collapse.in
    .panel-body Projects Here