
ul.cd-container
    li.cd-service.cd-service-divider
      li.cd-service.cd-service-1
        h2 Web Design
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis pariatur tenetur quod veritatis nulla aspernatur architecto! Fugit, reprehenderit amet deserunt molestiae ut libero facere quasi velit perferendis ullam quis necessitatibus!
      // cd-service
      li.cd-service.cd-service-2
        h2 Responsive Approach
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis pariatur tenetur quod veritatis nulla aspernatur architecto! Fugit, reprehenderit amet deserunt molestiae ut libero facere quasi velit perferendis ullam quis necessitatibus!
      // cd-service
      li.cd-service.cd-service-3
        h2 E-commerce
        | &#x9;&#x9;&#x9;
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis pariatur tenetur quod veritatis nulla aspernatur architecto! Fugit, reprehenderit amet deserunt molestiae ut libero facere quasi velit perferendis ullam quis necessitatibus!
      // cd-service
      li.cd-service.cd-service-4
        h2 CMS Integration
        | &#x9;&#x9;&#x9;
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis pariatur tenetur quod veritatis nulla aspernatur architecto! Fugit, reprehenderit amet deserunt molestiae ut libero facere quasi velit perferendis ullam quis necessitatibus!
      // cd-service
      li.cd-service.cd-service-divider
    // cd-services
