- var skill1 = {title: "Front-end Web Development <span class='icon-amp2'></span> Design"}
- var skill2 = {title: "Internet <span class='icon-amp2'></span> Database Systems"}
+section('skills')
  .content
    ul.skills-container
      +skill("1", skill1.title)

      +skill("2", "User Experience")

      +skill("3", "Back-end Web Development: Ruby on Rails")

      +skill("4", skill2.title)
