.panel.panel-default
  .panel-heading
    h4.panel-title
      a(data-parent='#accordion', data-toggle='collapse', href='#collapse') Here is a title hi!                
  #collapse.panel-collapse.collapse.in
    .panel-body Anotehr body   