+section('skills', '#skills')
  .content
    ul.skills-container
      li.skill.skill-divider
      +skill("1", "Front-end Web Development & Design")
        p hello here is content
      +skill("2", "User Experience")
        p hello here is content
      +skill("3", "Back-end Web Development")
        p hello here is content
      +skill("4", "Internet & Database Systems")
        p hello here is content
      li.skill.skill-divider