.panel.panel-default
  .panel-heading
    h4.panel-title
      a(data-parent='#accordion', data-toggle='collapse', href='#skills') Skills                
  #skills.panel-collapse.collapse.in
    .panel-body Skills here   