header.centered-navigation.header(role="banner")
  .centered-navigation-wrapper
    nav(role="navigation")
      ul#js-navigation-menu.centered-navigation-menu
        each target in ['about', 'projects', 'cv', 'skills']
          li.nav-link
            a(href="#" + "#{target.toLowerCase()}")= target
