<div class="social-icons1">
                        <ul class="icons">
                            <li class="social-twitter">
                                <a href="http://www.twitter.com/carolineartz" target="_blank" title="Twitter">
                                    <i class="icon-twitter"></i>
                                    <i class="icon-twitter-inverse"></i>
                                </a>
                            </li>
                            <li class="social-linkedin">
                                <a href="http://www.linkedin.com/in/carolineartz" target="_blank" title="Linkedin">
                                    <i class="icon-linkedin"></i>
                                    <i class="icon-linkedin-inverse"></i>
                                </a>
                            </li>

                            <li class="social-github">
                                <a href="https://github.com/carolineartz" target="_blank" title="Github">
                                    <i class="icon-github"></i>
                                    <i class="icon-github-inverse"></i>
                                </a>
                            </li>
                            <li class="social-facebook">
                                <a href="http://www.facebook.com/caroline.artz" target="_blank" title="Facebook">
                                    <i class="icon-facebook"></i>
                                    <i class="icon-facebook-inverse"></i>
                                </a>
                            </li>
                            <li class="social-email">
                                <a href="mailto:ceartz@gmail.com" target="_blank" title="Email">
                                    <i class="icon-email"></i>
                                    <i class="icon-email-inverse"></i>
                                </a>
                            </li>
                        </ul>
                    </div>