.copy &copy; 2015 Caroline Artz
.contact
  ul
    each link, network in {'twitter': 'http://www.twitter.com/carolineartz', 'facebook': 'http://www.facebook.com/caroline.artz', 'linkedin': 'http://www.linkedin.com/in/carolineartz', 'github': 'https://github.com/carolineartz', 'email': 'mailto:ceartz@gmail.com'}
      li
        a(href=link)
          span(class='icon-' + network + '-3')

