section.intro.container-fluid
  h1 <span>Hi. I'm <span>Caroline</span>.</span>
  h2.headline.letters.type <span class="words-wrapper waiting"><b class="is-visible">Software Developer.</b><b>UI/UX Engineer.</b></span>
  
