section.intro
  h1 <span>Hi. I'm <span>Caroline</span>.</span>
  //- h2.headline.letters.type <span class="words-wrapper waiting"><b class="is-visible">Full-Stack Web Developer.</b><b>UI/UX Engineer.</b></span>
  h2.headline.letters.type#typing
  .more
    a.scroll-more.scroll-on-page-link(href="#section-about")
      span.icon-arrow-dot-round
