mixin section(title, target)
  .panel.panel-default
    .panel-heading
      h2.panel-title
        a(data-parent='#accordion', data-toggle='collapse', href=target)= title
    div(class='panel-collapse collapse in', id=title)
      .panel-body
        block