extends ./base/layout.jade
include ./includes/mixins.jade

block content
  .cont
    header.centered-navigation(role="banner")
      include ./includes/bourbon-nav.jade
    include ./includes/intro.jade
    #accordion.panel-group.content-sections(role='tablist')
      include ./includes/sections/about.jade
      include ./includes/sections/portfolio.jade
      include ./includes/sections/cv.jade
      include ./includes/sections/skills.jade
    footer
      include ./includes/footer.jade

