extends ./base/layout.jade

block content
  .container-fluid
    .header
      include ./includes/navigation.jade
      include ./includes/intro.jade
    #accordion.panel-group
      include ./includes/sections/projects.jade
      include ./includes/sections/cv.jade
      include ./includes/sections/skills.jade
      include ./includes/sections/contact.jade
    .footer 
      h1 hi             
      p &hearts; from the Yeoman team