extends ./base/layout.jade
include ./includes/mixins.jade

block content
  .content
    include ./includes/bourbon-nav.jade
    include ./includes/intro.jade
    #accordion.accordion
      include ./includes/sections/about.jade
      include ./includes/sections/portfolio.jade
      include ./includes/sections/cv.jade
      include ./includes/sections/skills.jade
    footer
      include ./includes/footer.jade

